@import "tailwindcss";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020618;
}

::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  border-radius: 5px;
  border: 2px solid #020618;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d946ef;
}

.background {
  background-color: #020618;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.glowDiv {
  position: absolute;
  top: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 550px;
  background-color: oklch(66.7% 0.295 322.15);
  opacity: 35%;
  filter: blur(280px);
  pointer-events: none;
  z-index: 0;
}
