@import "tailwindcss";

.background {
    background-color: #020618;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.glowDiv {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 550px;
    background-color: oklch(66.7% 0.295 322.15);
    opacity: 35%;
    filter: blur(170px);
    pointer-events: none;
    z-index: 0;
}